@import "./variables.module.scss";

.linkFont {
  font-family: $f2 !important;
  font-size: 1.5rem;
  font-weight: 800 !important;
  color: #292929ad;
  text-transform: uppercase;
}
.logoP {
  position: relative;
  text-shadow: 2px 2px 5px rgba(100, 100, 0, 0.9);
  font-family: $f2;
  padding: 0;
  margin: 0;
  font-weight: 800;
  font-size: 2rem;
}

@media screen and (max-width: 1200px) {
  .logoP {
    font-weight: 700 !important;
    text-shadow: 2px 2px 5px rgba(0, 0, 10, 0.6);
    font-size: 1.6rem;
  }
  .linkFont {
    font-size: 1.2rem;
    font-weight: 800 !important;
  }
}
