:root {
  --primary-color: #00d28d;
  --secondary-color: #0e89ff;
  --font-style1: "Baloo Bhai 2", cursive;
  --font-style2: "Poppins", sans-serif;
}
body {
  transform: none;
  padding: 0;
  margin: 0;
  --bs-body-font-family: "Poppins", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Baloo Tammudu 2", cursive;
  font-family: "Dosis", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
