.imageItem:hover {
  /* transform: scale(1.1); */
  transition: all 0.5s;
}

.imageItem {
  /* background-color: rgba(255, 255, 255, 0.7); */
}

.shild {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
  transition: all 0.5s ease;
}

.activeImage {
  /* background-color: rgba(255, 255, 255, 0.4) !important; */
  background-color: rgba(8, 109, 241, 0.4) !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.imageItem:hover > .shild {
  /* display: none; */
  background-color: rgba(8, 109, 241, 0.4);
  border: 2px solid rgba(0, 153, 255, 0.795);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
