$primary: #00d28d;
$secondary: #0e89ff;
$primary-light: #00d28cce;
$secondary-light: #0369c9;
$gray-1: #ccc;
$gray-2: #555;

$f1: "Poppins", sans-serif;
$f2: "Baloo Bhai 2", cursive;
$f3: "Baloo Tammudu 2", cursive;
$f4: "Roboto", sans-serif;

:export {
  // colors
  white: #fff;
  primary: $primary;
  primaryLight: $primary-light;
  secondary: $secondary;
  secondaryLight: $secondary-light;
  gray-1: $gray-1;
  gray-2: $gray-2;

  //fonts
  f1: $f1;
  f2: $f2;
  f3: $f3;
  f4: $f4;
}
